<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="roadmap" href="/tabs/roadmap">
      <ion-icon aria-hidden="true" name="map-outline"></ion-icon>
      <ion-label>Dersler</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="flashcards" href="/tabs/flashcards">
      <ion-icon aria-hidden="true" name="albums-outline"></ion-icon>
      <ion-label>Kartlar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats" href="/tabs/stats">
      <ion-icon aria-hidden="true" name="stats-chart-outline"></ion-icon>
      <ion-label>Istatistik</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" href="/tabs/about">
      <ion-icon aria-hidden="true" name="information-circle-outline"></ion-icon>
      <ion-label>Hakkinda</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
